<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login and Registration</title>
	</head>
	<body>
		<h1>Welcome!</h1>
		<div class='registration'>
			<h1>Registration</h1>
			<form action="{% url 'register' %}" method='POST'>
				{% csrf_token %}
				<fieldset>
					<legend>Register</legend>
					<p>Name: <input type="text" name="name"></p>
					<p>Username: <input type="text" name="username"></p>
					<p>Password: <input type="password" name="password"></p>
					<p>Confirm Password: <input type="password" name="confirm_password"></p>
					<p><input type="submit" value="register"></p>
				</fieldset>
			</form>
			{% for key, value in errors.items %}
				<p>{{ value }}</p>
			{% endfor %}
		</div>
		<div class='login'>
			<h1>Login</h1>
			<form action="{% url 'login' %}"method='POST'>
				{% csrf_token %}
				<fieldset>
					<legend>Login</legend>
					<p>Username: <input type="text" name="username"></p>
					<p>Password: <input type="password" name="password"></p>
					<p><input type="submit" value="Login"></p>
				</fieldset>
			</form>
			{% for key, value in login.items %}
				<p>{{ value }}</p>
			{% endfor%}
		</div>
	</body>
</html>
